html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

body {
  display: block;
  margin: 0;
  --page-background-color: white;
  --page-text-color: black;
  _--theme-color: rgba(12, 193, 181, 1);
  _--accent-color: teal;
  _--selection-color: hotpink;
}

/*** Dark scheme turns colors around ***/
/* @media screen and (prefers-color-scheme: dark) {
  body {
    --page-background-color: black;
    --page-text-color: white;
  }
} */

h1,
h2,
h3,
h4 {
  font-family: "Lato", serif;
  font-weight: bold;
}

a {
  text-decoration: none;
}

/*=========================================*/
/************ Specific Stylings ************/

/******************* Header *******************/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo {
  position: relative;
  margin-top: 0;
}
/*** Navigation bar ***/
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5rem;
}

.nav-link {
  margin-left: 1rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--page-background-color);
  color: var(--page-text-color);
}

/*** From medium breakpoint on, nav links are horizontally ***/
@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
    justify-content: center;
  }
}

/******************* Main section *******************/
.main {
  padding: 0 1rem;
  width: 50ch;
  margin: 0 auto;
}

/*** Space between articles ***/
main > * + * {
  margin-top: 3rem;
}

/*** Hero section background image ***/
.hero {
  height: 25rem;
  background-image: url(https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--page-background-color);
  _margin-bottom: 3rem;
}

.hero-text {
  padding-top: 5rem;
  padding-left: 2rem;
  width: 54ch;
}

/*** Waerme Strom & Klimareformen section ***/
.waerme-strom,
.gute-ideen,
.klimareformen {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.waerme-strom {
  padding: 5rem 7rem;
  background-color: #fec8d8;
}

.klimareformen {
  padding: 5rem 7rem;
  background-color: #94b49f;
}

.waerme-strom-button,
.klimareformen-button {
  color: var(--page-text-color);
  border: 2px solid black;
  padding: 0.5rem 1rem;
  margin: 1.5rem;
  border-radius: 0.5rem;
}

/*** Gute Ideen section ***/
.gute-ideen-intro {
  padding: 0 7rem;
}

.gute-ideen-themen {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.thema {
  border: 1px solid black;
  border-radius: 6px;
  margin: 1rem;
  padding-bottom: 1rem;
  width: 300px;
}

.gutes-bild {
  position: relative;
  border-radius: 6px 6px 0 0;
  transform: translate(-0.5rem, 0.5rem);
  z-index: -1;
}

h3,
p {
  margin: 1rem;
}

.gute-ideen-link {
  margin: 1rem;
  text-decoration: underline;
  color: var(--page-text-color);
  font-weight: bold;
}
