html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

body {
  display: block;
  margin: 0;
  --page-background-color: white;
  --page-text-color: black;
  _--theme-color: rgba(12, 193, 181, 1);
  _--accent-color: teal;
  _--selection-color: hotpink;
}

/*** Dark scheme turns colors around ***/
/* @media screen and (prefers-color-scheme: dark) {
  body {
    --page-background-color: black;
    --page-text-color: white;
  }
} */

h1,
h2,
h3,
h4 {
  font-family: "Lato", serif;
}

a {
  text-decoration: none;
}

/*=========================================*/
/************ Specific Stylings ************/

/******************* Header *******************/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo {
  position: relative;
  margin-top: 0;
}
/*** Navigation bar ***/
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5rem;
}

.nav-link {
  margin-left: 1rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--page-background-color);
  color: var(--page-text-color);
}

/*** From medium breakpoint on, nav links are horizontally ***/
@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
    justify-content: center;
  }
}

/******************* Main section *******************/
.main {
  padding: 0 1rem;
  max-width: 70ch;
  margin: 0 auto;
}

/*** Hero section background image ***/
/*@media screen and (min-width: 768px) {
  .hero {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    background-image: url(https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    border: 2px dashed hotpink;
  }
}*/
